<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="/MembershipType">Membership</a></li>
        <li><a href="/Genre">Genre</a></li>
        <li class="divider"></li>
        <li><a href="/Book">Book</a></li>
        <li><a href="/Genre">Customer</a></li>
        <li class="divider"></li>
    </ul>

</li>
